/* Basislayout */

*{
    border: #fcf9f9;
    border-width: 3px;
}
html, body {
    height: 100%;
    padding: 0;
    background-color: #08143b;  
    
    color: #fcf9f9;
    font: Verdana, Arial, Sans-Serif;
}
 div {
    float: left;
    width: 50%;
    margin-left: 6px;
}
    
main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
    border: #a3a3a3;
    float: left;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    height: 200px;
}
img.zweefRechts {
    float: right;
    margin-left: 3px;
    width: 45%;
    margin-top: 19px;
}
#zweefLinksText {
    width: 35%;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: 4px;
    padding: 0;
    background-color: #2a27ce;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

nav li a:hover {
    background-color: #a3a3a3;
}

nav li a.active {
    background-color: skyblue;
}




