/* Basislayout */

* {
    overflow: hidden;
    box-sizing: border-box;
    border:  #fcf9f9;
    border-width: 3px;
    font-family: monospace;
    font-size: large;
}

html, body {
    overflow: visible;
    height: 100%;
    padding: 0;
    background-color: #08143b;  
    margin: 0;
    color: #fcf9f9;
    font: Verdana, Arial, Sans-Serif;
    background-image: url("afbeeldingen/3645359.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
}

main {
    background-color: #15139b8e;
    border: solid #12276dde;
   
}

 div {
    float: left;
    
    margin-left: 6px;
}
 div.description {
    float: right;
    width: 66%;
    margin: 9px;
    margin-top: 15px;
}
.skillbox {
    border:solid #a3a3a3;
    padding-left: auto;
    float: left;
    width: 48%;
}

.LoreBox {
    float: right;
    width: 50%;
    border: solid #a3a3a3;
    padding: 3px;
    background-color: #757575;
    overflow: scroll;
    height: 500px;
}
    
main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


div.article {
    border: 1px dotted white;
    text-align: justify;
    float: left;
    margin: 3px;
    margin-bottom: 5px;
}


header {
    color: skyblue;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

ul {
    list-style: circle;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    height: 200px;
    margin-top: 5px;
}
img.zweefRechts {
    float: right;
    margin-left: 3px;
    width: 45%;
    margin-top: 19px;
}
div.zweefLinksText {
    width: 50%;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.skillrow {
    padding-left: 2px;
    
}
.skilltype {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 5px;
    color:#dd8d14;
}

.AbilityName {
    margin-left: 10px;
    color: #dd8d14;
}

.center {
    align-content: center;
}

iframe {
    float: right;
    width: 45%;
    height: 200px;
    margin-top: 11px;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #2a27ce;
    overflow: hidden;
    width:fit-content;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
}

nav li a:hover {
    background-color: #a3a3a3;
}

nav li a.active {
    background-color: skyblue;
}




